<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/page::html(~{::title},~{::main})">
<title>Login</title>
<main>
    <h2 class="siteTitle">Login</h2>
    <div class="card">
        <div class="card-body p-5">
            <form th:action="@{/login}" method="post">
                <div class="container">
                    <div class="row mb-3" th:if="${errorMessage}">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" th:text="${errorMessage}"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i data-feather="user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" name="username"
                                   id="username"
                                   required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i data-feather="key"></i></span>
                            <input type="password" class="form-control" placeholder="Password"
                                   name="password" id="password"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 mb-4">
                            <a href="/register" class="text-center">I don't have an account</a>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-end">
                            <input class="btn btn-primary mr-0" id="btnLogin" type="submit" value="Log in">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</html>
